.header {
  background-color: #19535F;
  color: #CCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 2rem 0 1rem;


  &__title {
    margin: 0;
    font-size: 2rem;
  }

  &__link {
    background-color: #227C9D;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}