.timeline {
  background-color: white;
  width: 100%;
  position: relative;
}

.row {
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  &__header {
    background-color: #A31621;
    color: white;
    font-weight: bold;
    // padding: 0.5rem 2rem;
    height: 2rem;
    p {
      position: fixed;
      margin-top: 0.5rem;
      margin-left: 2rem;
    }
  }

  &__content {
    margin-top: 2rem;
  }

  &__block {
    color: white;
    background-color: #227C9D;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__label {
      background-color: white;
      z-index: 1;
      margin-left: 4px;
    }

    &__videogame {
      background-color: #227C9D;
    }

    &__book {
      background-color: #A31621;
    }

    &__tv {
      background-color: #19535F;
    }
  }
}

.monthLine {
  border-left: 1px solid black;
  position: absolute;
  top: 2rem;
  bottom: 2rem;
}

.monthLabel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

// 38023B
// A663CC
// F9DC5C
// AB87FF
// 9D9171