.timeline {
  background-color: white;
  width: 100%;
}

.row {
  height: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  &__header {
    background-color: #A31621;
    color: white;
    font-weight: bold;
    padding: 0.5rem 2rem;
  }

  &__block {
    color: white;
    background-color: #227C9D;
    // padding-left: 1rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}