@import "../../styles/variables/_mixins";

$filterbar-padding: 1rem;
$scrollbar-width: 26px;

.FilterBar {
  background-color: #227C9D;
  color: white;
  padding: 1rem;

  &__filters { // DELETE???
    &__row {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      &__filter {
        width: calc(50% - 1rem);
      }
    }
  }

  &__search {
    position: relative;
    flex: 1;
    margin-bottom: 1rem;

    input {
      @include input;
      padding-left: 2rem;
      width: calc(100% - #{$scrollbar-width} - #{$filterbar-padding});
      flex: 1;
    }

    svg {
      position: absolute;
      box-sizing:border-box;
      top: 0.625rem;
      left: 0.625rem;
      color: black;
    }
  }

  &__durationSelect {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    // &__Select {
    //   width: 6.25rem;
    // }

    input {
      @include input;
      width: 100%;
    }
  }

  label {
    font-size: 20px;
  }
}