.container {
  display: flex;
  height: 100vh;
  // width: 300%;
}

.sidePanel {
  // width: 30%;
  width: 40rem;
  min-width: 10rem;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.content {
  flex: 1;
  background-color: #CEFDFF;
  overflow: auto;

  &__scrollbox {
    width: 600%;
  }
}

.sideTable {
  width: 97%;
  table-layout: fixed;
  margin: 1rem;
}