.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.sidePanel {
  width: 10%;
  min-width: 10rem;
  border-right: 1px solid black;
  .title {
    // color: red;
  }
}

.content {
  flex: 1;
  background-color: #CEFDFF;
}
