.sidePanel {
  // width: 30%;
  width: 40rem;
  min-width: 10rem;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.sideTable {
  width: calc(100% - 1rem);
  table-layout: fixed;
  margin: 1rem;
}